@model List<WeatherApp.Models.WeatherData>
@{
    ViewBag.Title = "WEATHER-APP";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
</head>

<body>

    <h2>Clima em @ViewBag.City</h2>

    <form method="get">
        <label for="city">Cidade:</label>
        <select name="city" id="city">
            <option value="Curitiba">Curitiba</option>
            <option value="Brasília">Brasília</option>
            <option value="Rio de Janeiro">Rio de Janeiro</option>
            <option value="São Paulo">São Paulo</option>
            <option value="Salvador">Salvador</option>        
        </select>
        <button type="submit">Atualizar</button>
    </form>
    
    @* <div class="dashboard-container"></div> *@

@if (Model != null && Model.Any())
{
    var item = Model.First();

    <div style="display: flex; gap: 40px;">
        <!-- DASHBOARD Temp. Atual -->
        <div class="dashboard">
            <h1>Tempo Atual</h1>
            <p class="temp-label">@ViewBag.City</p>
            <p class="temp-label">Data: @item.Date.ToString("dd/MM/yyyy")</p>
            <p class="temp-label">@item.Description</p>

            <div style="text-align: center; margin-top: 20px;">
                <img src="@($"https://openweathermap.org/img/wn/{item.Icon}@2x.png")" alt="Ícone do tempo" />
                <p class="temp-label" style="font-size: 24px; font-weight: bold; margin-top: 10px;">@item.Temperatura.ToString("F2")°C</p>
            </div>
        </div>
        <!-- DASHBOARD 2: Temp. Min e Max -->
        <div class="dashboard">            
            <h1>Variação de Temperatura do Dia</h1>
            <p class="temp-label">TempMin: @item.TemperatureMin°C</p>
            <p class="temp-label">TempMax: @item.TemperatureMax°C</p>

            <div class="bar-vertical">
                <div class="bar-wrapper">
                    <div class="bar min" style="height:@(item.TemperatureMin * 4)px">
                        <span>@item.TemperatureMin°C</span>
                    </div>
                    <label>Temp. Mín</label>
                </div>

                <div class="bar-wrapper">
                    <div class="bar max" style="height:@(item.TemperatureMax * 4)px">
                        <span>@item.TemperatureMax°C</span>
                    </div>
                    <label>Temp. Máx</label>
                </div>
            </div>
        </div>
        <!-- DASHBOARD 3: Temp. Atual vs Sensação -->
        <div class="dashboard">            
            <h1>Sensação Térmica</h1>
            <p class="temp-label">Temp. Atual: @item.Temperatura°C</p>
            <p class="temp-label">Sencação @item.SensacaoTermica°C</p>

            <div class="bar-vertical">
                <div class="bar-wrapper">
                    <div class="bar min" style="height:@(item.Temperatura * 4)px">
                        <span>@item.Temperatura°C</span>
                    </div>
                    <label>Temp. Atual</label>
                </div>

                <div class="bar-wrapper">
                    <div class="bar max" style="height:@(item.SensacaoTermica * 4)px">
                        <span>@item.SensacaoTermica°C</span>
                    </div>
                    <label>Sensação</label>
                </div>
            </div>
        </div>
    </div>    
}
else
{
    <h3>Nenhum dado disponível.</h3>
}
</div>
</body>
</html>
