@model List<WeatherApp.Models.WeatherData>
@{
    ViewBag.Title = "WEATHER-APP";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true" />
</head>

<body>

    <h2>Clima em @ViewBag.City</h2>

    <form method="get">
        <label for="city">Cidade:</label>
        <select name="city" id="city">
            <option value="São Paulo">São Paulo</option>
            <option value="Curitiba">Curitiba</option>
            <option value="Rio de Janeiro">Rio de Janeiro</option>
            <option value="Brasília">Brasília</option>
            <option value="Salvador">Salvador</option>        
        </select>

        <label for="start">De:</label>
        <input type="date" name="start" />
        <label for="end">Até:</label>
        <input type="date" name="end" />
        <button type="submit">Filtrar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Temp. Mín</th>
                <th>Temp. Máx</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date.ToString("dd/MM/yyyy")</td>
                    <td>@item.TemperatureMin °C</td>
                    <td>@item.TemperatureMax °C</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>

<!-- Primeiro DashBoard TempMaxx e TempMin -->
    @if (Model != null && Model.Any())
    {
        var item = Model.First();

        <div class="dashboard">
            <h1>Temperatura de @ViewBag.City</h1>
            <p class="temp-label">Data: @item.Date.ToString("dd/MM/yyyy")</p>
            <p class="temp-label">Descrição: @item.Description</p>

            <div class="bar-vertical">
                <div class="bar-wrapper">
                    <div class="bar min" style="height:@(item.TemperatureMin * 4)px">
                        <span>@item.TemperatureMin°C</span>
                    </div>
                    <label>Temp. Mín</label>
                </div>

                <div class="bar-wrapper">
                    <div class="bar max" style="height:@(item.TemperatureMax * 4)px">
                        <span>@item.TemperatureMax°C</span>
                    </div>
                    <label>Temp. Máx</label>
                </div>
            </div>
        </div>
    }
    else
    {
        <h3>Nenhum dado disponível.</h3>
    }

</body>
</html>
